<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="./fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="short icon" href="./images/logo.png">
    <link rel="stylesheet" href="./styles/navbar.css">
</head>

<body>
<header>
    <nav>
        <div class="logo"> <a href="/"><img src="/images/logo.png" alt="logo" /></div></a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/book">Bookings</a></li>
          <li><a href="/shop">Shop</a></li>
        </ul>
        <div id="burger">
          <img src="/images/burger.svg" alt="">
        </div>
      </nav>
</header>
<h1 style="margin-top: 24px;margin-left: 85px;font-family: voyager;font-weight: bold;font-size: 64px;color: rgb(255,255,255);">Shop</h1>
<div class="card-group">
    <div class="card" style="margin-right: 24px;margin-left: 80px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Earth</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>10 Days</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="https://cdn.discordapp.com/attachments/885831992418107402/885832025473417246/unknown.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Meteor</h4>
            <p class="card-text">Parts of X1HA42, which was broken by SpaceX Rocket</p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$10K</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-right: 24px;margin-top: 24px;border-radius: 0px;margin-left: 24px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Mars</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>2 Months</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="https://cdn.discordapp.com/attachments/885831992418107402/886606825892483092/scientists-make-artificial-martian-dirt-will-sell-it-to-you-for-20-martian-soil-png-950_534.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Mars Soil</h4>
            <p class="card-text">Soil extracted from Mars</p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$100K</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-left: 24px;margin-top: 24px;border-radius: 0px;margin-right: 80px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Moon</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>14 Days</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="https://cdn.discordapp.com/attachments/885831992418107402/886616478122643456/images.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Helium</h4>
            <p class="card-text">Pure Helium extracted from Moon.</p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$10K</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-group" style="margin-top: 24px;">
    <div class="card" style="margin-right: 24px;margin-left: 80px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Milky Way Galaxy</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>2 Days</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="https://cdn.discordapp.com/attachments/885831992418107402/886612602334105660/blackhole20190410-640x350.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Black Hole Picture</h4>
            <p class="card-text">The hardcopy processed image of black hole "Universe".</p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$59</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-right: 24px;margin-left: 24px;margin-top: 24px;border-radius: 0px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Mars</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>6 Month</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="./images/mars.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Mars' air</h4>
            <p class="card-text">Feel Mars with Mars' air.</p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$158</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-left: 24px;margin-top: 24px;border-radius: 0px;margin-right: 80px;">
        <div class="card-body" style="padding-left: 8px;">
            <div class="row">
                <div class="col">
                    <p><span style="color: rgb(0,0,0);font-size: 18px;font-family: Montserrat, sans-serif;font-weight: bold;">Found on:</span><br>Sratosphere</p>
                    <p style="color: rgb(0,0,0);"><span style="font-weight: bold;font-family: Montserrat, sans-serif;font-size: 18px;">Delivery Time:</span><br>10 Days</p>
                </div>
                <div class="col d-lg-flex align-content-center"><img class="d-inline-flex d-lg-flex align-self-end justify-content-lg-end" style="max-height: 100px;max-width: 120px;min-width: 100px;min-height: 80px;" src="https://cdn.discordapp.com/attachments/885831992418107402/885832025473417246/unknown.png"></div>
            </div>
            <h4 class="d-inline-flex d-lg-flex align-self-start justify-content-lg-start card-title">Asteroid</h4>
            <p class="card-text">A small asteroid from asteroid belt </p>
            <div class="row">
                <div class="col">
                    <p class="text-center justify-content-center align-items-center align-self-center my-auto justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;font-size: 25px;">$900K</p>
                </div>
                <div class="col align-self-center">
                    <div class="btn-center"><a class="btn btn-dark text-center justify-content-center align-items-center align-content-center align-self-center my-auto btn-buy" role="button" href="#" style="border-radius: 0px;background: rgb(0,0,0); width: 120%;">Buy Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="waves">
    <img src="./images/chill.png" alt="">
  </div>
  <script src="./scripts/burger.js"></script>
<br><br>
<script src="./styles/bootstrap.min.js"></script>
</body>
</html>
